.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#bar-clock .hour, #bar-clock .minutes, #bar-clock .seconds {
  background: #F6F6F6;
  width: 40px;
  height: 180px;
  float: left;
  margin-right: 0.5em;
  position: relative;
}
#bar-clock .seconds {
  margin-right: 0;
}
#bar-clock .time {
  display: block;
  background: #CCC;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.1s linear;
          transition: height 0.1s linear;
}
#bar-clock #human-time {
  clear: left;
  text-align: center;
  font-size: 2.2em;
  padding-top: 0.3em;
  color: #CCC;
}
